body {
	background: #FFF6E4;
	color: #24231F;
	font-size: 24px;
	line-height: 167%;
	font-family: "sohne-book", helvetica, arial, sans-serif;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'sohne-book';
  src: url('../fonts/SohneWeb-Mager.woff2') format('woff2');
  unicode-range: U+0020-007F; /* The bare minimum for the English Language */
}

.text {
	max-width: 770px;
	width: 90%;
	padding: 0 5%;
	margin: auto
}

img {
	max-width: 100%;
	border: 4px solid white;
	margin-left: -4px;
}

.photo {
	max-width: 1200px;
	margin: auto;
	padding: 1.5% 5%;
}

.caption {
	display: block;
	margin: -58px 0px 0px 20px;
	font-size: 16px;
	color: #fff;
}

/* text styles */
h1, p {
	margin: 4% 0;
	padding: 0;
}

h1 {
	color: #CB1919;
	font-weight: normal;
	font-size: 24px;
	padding-top: 2%;
}

a {
	color: #24231F;
}


/* responsive styles */
@media only screen and (max-width: 500px) {
	  body, h1 {
	  	font-size: 18px;

	}

}


