body {
	background: #F4E9D5;
	color: #24231F;
	font-size: 21px;
	line-height: 145%;
	font-family: "sohne-book", helvetica, arial, sans-serif;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
  	margin: 0;
}

@font-face {
  	font-family: 'sohne-book';
  	src: url('../fonts/SohneWeb-Mager.woff2') format('woff2');
}

@font-face {
  	font-family: 'sohne-bold';
  	src: url('../fonts/SohneWeb-Halbfett.woff2') format('woff2');
}

@font-face {
  	font-family: 'sohne-book-italic';
  	src: url('../fonts/SohneWeb-MagerKursiv.woff2') format('woff2');
}

@font-face {
  	font-family: 'tiempos-headline';
  	src: url('../fonts/TiemposHeadWeb-Semibold.woff') format('woff');
}


/*.scrolling-images {
  	overflow-x: scroll;
  	overflow-y: hidden;
  	white-space: nowrap;
  	-webkit-overflow-scrolling: touch;
}

.scrolling-images div {
  	display: inline-block;
  	margin: 5% 0% 5% 5%;
  	max-width: 200px;
} 

.test-scroll-images div:last-child, .scrolling-images div:last-child {
	margin-right: 5%;
}*/

/* text styles */
h1 {
	font-weight: normal;
	font-size: 23px;
	margin: 0 0 15% 0; 
	font-family: sohne-bold;
}

h2 { 
	font-family: tiempos-headline;
	font-size: 4.3vw;
	line-height: 120%;
	font-weight: normal;
	margin: 0 0 4% 0;
	padding: 0;
 }

h3 {
 	font-family: sohne-bold;
 	font-weight: normal;
 }

em {
	font-family: sohne-book-italic;
	font-style: normal;
}

a {
	color: #24231F;
}

.work-text a {
	color: #ffffff;
}


 .smaller-text, .smaller-text > * {
 	font-size: 16px;
 	line-height: 145%;
 }

 .work-text {
 	color: #fff;
 }

 .work-text p {
 	margin: 11px 0;
 }


 .work-text h3 {
 	margin: -7px 0px 0px 0px;
 }

.contact-details {
	border-left: 1px solid #D3C8B4;
	padding-left: 15px;
	color: #24231F;
	position: sticky;
	top: 5%;
	margin-bottom: 9.5%;
}

.contact-details a {
	color: #24231F;
}

.contact-details h3 {
	margin: 17px 0;
	line-height: 90%
}

.contact-details li {
	line-height: 90%;
	margin-bottom: 9px;
}

.contact-details li:last-child {
	margin-bottom: 0;
}


ul, li {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

 /* text styles end */
 img {
 	width: 100%;
 }

 /* layout styles start */

 .grid-wrapper {
 	width: 100%;
 	margin: auto;
 }

 .blue {
 	background: #37465C;
 }

 .dark-blue {
 	background: #2C384A;
 }

 .yellow {
 	background: #252F3E;
 }

 .black {
 	background: #222;
 }

 .white, .white a {
 	color: #fff;
 }

.grid-twelve-col {
	display: grid;
	grid-template-columns: 6.5% 6.5% 6.5% 6.5% 6.5% 6.5% 6.5% 6.5% 6.5% 6.5% 6.5% 6.5%;
    column-gap: 2%;
    width: 96%;
	max-width: 1400px;
	margin: auto;
}

/* for three column images */
.one-four { grid-column: 1 / 4; }

.four-seven { grid-column: 4 / 7; }

.seven-ten { grid-column: 7 / 10; }
/* for three column images */

.one-ten { grid-column: 1 / 10; }  /* big images */

.ten-thirteen { grid-column: 10 / 13; }  /* right column text */

.two-eight { grid-column: 2 / 8; } /* left column text */

.five-vertical-padding {
	padding: 5% 0%;
}

.six-vertical-padding {
	padding: 6% 0%;
}

.vertical-padding-bottom {
	padding-bottom: 6%;
}
 /* layout styles end */


img {
	border-radius: 3px;
}

/* responsive styles */

@media screen and (min-width: 1500px) {

	h2 {
		font-size: 63px;
	}

}

@media screen and (min-width: 1101px) {
	.big-hide {
		display: none;
	}
}

@media only screen and (max-width: 1100px) {

	/* for three column images */
	.one-four { grid-column: 1 / 5; }

	.four-seven { grid-column: 5 / 9; }

	.seven-ten { grid-column: 9 / 13; }
	/* for three column images */

	.two-eight, .ten-thirteen  { grid-column: 2 / 10; }

	.work-text { margin-top: 22px; }

	.one-ten { grid-column: 1 / 13; }

	.medium-hide { display: none; }

	.contact-details {
		border-left: none;
    	padding-left: 0px;
    	margin-top: 11px;
    	position: normal;
	}

}

@media only screen and (max-width: 800px) {
	  body, h1 {
	  	font-size: 16px;
	}

	h2 {
		font-size: 35px;
		margin: 15px 0;
	}

	.two-eight, .ten-thirteen  { grid-column: 2 / 12; }

	.one-ten { grid-column: 1 / 13; }
	
}


@media only screen and (min-width: 601px) {
	.small-show {
		display: none;
	}

	.small-hide {
		display: block;
	}
}

@media only screen and (max-width: 600px) {
	  body, h1 {
	  	font-size: 16px;
	}

	.grid-twelve-col {
		width: 86%;
	}

	.two-eight, .ten-thirteen, .one-ten { grid-column: 1 / 13; }

	.one-four.image, .four-seven.image, .seven-ten.image { grid-column: 1 / 13; padding: 5% 0%; }

	.seven-ten.image {
		padding-bottom: 0;
	}

	.caption {
		bottom: 36px;
	}

	h2 {
		font-size: 30px;
		margin: 15px 0;
	}

	p {
		margin: 15px 0;
	}

	.photo-wrapper {
		margin-top: 2.3%;
		margin-bottom: 5%;
	}

	.small-show {
		display: block;
	}

	.small-hide {
		display: none;
	}

}





