body {
	background: #f7f4ef;
	color: #24231F;
	font-size: 19px;
	line-height: 145%;
	font-family: "sohne-book", helvetica, arial, sans-serif;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
  	margin: 0 0 3vw 0;
}

@font-face {
  	font-family: 'sohne-book';
  	src: url('../fonts/SohneWeb-Mager.woff2') format('woff2');
}

@font-face {
  	font-family: 'sohne-bold';
  	src: url('../fonts/SohneWeb-Halbfett.woff2') format('woff2');
}

@font-face {
  	font-family: 'sohne-book-italic';
  	src: url('../fonts/SohneWeb-MagerKursiv.woff2') format('woff2');
}

@font-face {
  	font-family: 'tiempos-headline';
  	src: url('../fonts/TiemposHeadWeb-Semibold.woff') format('woff');
}

/* text styles */
h1 {
	font-weight: normal;
	font-size: 23px;
	margin: 0 0 15% 0; 
	font-family: sohne-bold;
}

h2 { 
	font-family: sohne-bold;
	font-size: 2.7vw;
	line-height: 120%;
	font-weight: normal;
	margin: 0 0 4% 0;
	padding: 0;
 }

h3 {
 	font-family: sohne-bold;
 	font-weight: normal;
 }

em {
	font-family: sohne-book-italic;
	font-style: normal;
}

ul {
	margin: 0;
	padding: 0;
}

li {
	list-style-type: none;
}

a {
	color: #FF5353;
}

.no-underline {
	text-decoration: none;
}

.colour-animation {
	animation: colour 15s infinite;
}

@keyframes colour {
	0% { color: #FF5353; }
	50%{ color: #FF1B1B; }
	100% { color: #FF5353; }
}


.work-text a {
	color: #ffffff;
}

.smaller-text, .smaller-text > * {
	font-size: 16px;
	line-height: 145%;
}

.work-text {
	color: #fff;
}

.work-text p {
	margin: 11px 0;
}

.work-text h3 {
	margin: -7px 0px 0px 0px;
}

 /* text styles end */
 img {
 	width: 100%;
 	border-radius: 4px;
 }

 /* layout styles start */
 .grid-wrapper {
 	width: 100%;
 	margin: auto;
 }

 .light-grey > *, .light-grey a {
 	color: #999;
 }

 .top-padding-medium {
 	padding-top: 4%;
 }

 .bottom-padding-large {
 	padding-bottom: 10%;
 }

 .top-padding-large {
 	padding-top: 10%;
 }

 .black {
 	background: #000;
 }

 .white, .white a {
 	color: #fff;
 }

 .half-white, .half-white a {
 	color: #fff;
 	opacity: .6;
 }

.grid-four-col {
	display: grid;
	grid-template-columns: 21.25% 21.25% 21.25% 21.25%;
    column-gap: 5%;
    width: 100%;
	max-width: 1340px;
	margin: auto;
}

.one-two, .two-four, .four-five {
	padding: 0;
}

.one-two.image {
	margin-right: -2vw; 
}

.four-five.image {
	margin-left: -2vw; 
}

.logo {
	float: left;
	padding: 1.3vw 0 .7vw 0;
}

.logo-starboard {
	width: 150px;
}

.border-bottom {
	border-bottom: 1px solid rgba(0, 0, 0, .3);
}

.one-two { grid-column: 1 / 2; }

.one-five { grid-column: 1 / 5; }

.two-three { grid-column: 2 / 3;}

.two-four { grid-column: 2 / 4; }

.three-four { grid-column: 3 / 4; }

.four-five { grid-column: 4 / 5; }

.spacer-row { min-height: 0vw; }

.six-vertical-padding {
	padding: 6% 0%;
}

.vertical-padding-bottom {
	padding-bottom: 6%;
}

.padding-medium {
	padding: 2vw 0;
}

.image {
	margin: 0 0 3.7vw 0;
	padding: 0;
}

.image img {
	box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.1);
}

 /* layout styles end */
}

img {
	border-radius: 3px;
}

/* responsive styles */

@media screen and (min-width: 1600px) {

	h2 {
		font-size: 38px;
	}
}

@media only screen and (max-width: 1400px) {

	.grid-four-col {
		display: grid;
		grid-template-columns: 22% 22% 22% 22%;
    	column-gap: 4%;
    	max-width: 90%;
	}

	.two-four { grid-column: 2 / 4; }

	h2 {
		font-size: 35px;
	}

	body {
	  	font-size: 18px;
	}
}

@media only screen and (max-width: 1100px) {
	  body {
	  	font-size: 16px;
	}

	.grid-four-col {
		max-width: 60%;
	}

	h2 {
		font-size: 24px;
	}

	.half-white {
	 	opacity: 1;
	}

	.one-two, .two-four, .four-give {
		grid-column: 1 / 5;
	}

	.one-two.padding-medium {
		padding-bottom: 0;
	}

	.two-four.padding-medium {
		padding-top: 0;
	}

	.logo {
		padding: 16px 0 20px 0;
	}

	.logo-starboard {
		width: 120px;
	}

	.logo-xero {
		width: 60px;
	}

	.logo-wayward-riders {
		width: 100px;
	}

	.image {
		padding: 0 0 6.5vw 0;
	}
}

@media only screen and (max-width: 600px) {

	.grid-four-col {
		max-width: 88%;
	}
}





