body {
	background: #f7f4ef;
	color: #24231F;
	font-size: 19px;
	line-height: 145%;
	font-family: "sohne-book", helvetica, arial, sans-serif;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
  	margin: 0;
}

@font-face {
  	font-family: 'sohne-book';
  	src: url('../fonts/SohneWeb-Mager.woff2') format('woff2');
}

@font-face {
  	font-family: 'sohne-bold';
  	src: url('../fonts/SohneWeb-Halbfett.woff2') format('woff2');
}

@font-face {
  	font-family: 'sohne-book-italic';
  	src: url('../fonts/SohneWeb-MagerKursiv.woff2') format('woff2');
}

@font-face {
  	font-family: 'tiempos-headline';
  	src: url('../fonts/TiemposHeadWeb-Semibold.woff') format('woff');
}

/* text styles */
h1 {
	font-weight: normal;
	font-size: 23px;
	margin: 0 0 15% 0; 
	font-family: sohne-bold;
}

h2 { 
	font-family: sohne-bold;
	font-size: 2.8vw;
	line-height: 120%;
	font-weight: normal;
	margin: 0 0 4% 0;
	padding: 0;
 }

h3 {
 	font-family: sohne-bold;
 	font-weight: normal;
 }

em {
	font-family: sohne-book-italic;
	font-style: normal;
}

ul {
	margin: 0;
	padding: 0;
}

li {
	list-style-type: none;
}

a {
	color: #FF5353;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.colour-animation {
	animation: colour 15s infinite;
}

@keyframes colour {
	0% { color: #FF5353; }
	50%{ color: #FF1B1B; }
	100% { color: #FF5353; }
}


.work-text a {
	color: #ffffff;
}

.smaller-text, .smaller-text > * {
	font-size: 16px;
	line-height: 145%;
}

.work-text {
	color: #fff;
}

.work-text p {
	margin: 11px 0;
}

.work-text h3 {
	margin: -7px 0px 0px 0px;
}

 /* text styles end */
 img {
 	width: 100%;
 }

 /* layout styles start */
 .grid-wrapper {
 	width: 100%;
 	margin: auto;
 }

 .light-grey > *, .light-grey a {
 	color: #999;
 }

 .top-padding-medium {
 	padding-top: 4%;
 }

 .bottom-padding-large {
 	padding-bottom: 10%;
 }

 .top-padding-large {
 	padding-top: 10%;
 }

 .black {
 	background: #000;
 }

 .white, .white a {
 	color: #fff;
 }

 .half-white, .half-white a {
 	color: #fff;
 	opacity: .6;
 }

.grid-four-col {
	display: grid;
	grid-template-columns: 22% 22% 22% 22%;
    column-gap: 4%;
    width: 96%;
	max-width: 1400px;
	margin: auto;
	border-radius: 4px;
}

.one-two, .two-four, .four-five {
	padding: 0 2.8vw;
}

.one-two.image {
	margin-right: -2vw; 
}

.four-five.image {
	margin-left: -2vw; 
}

.image {
	padding: 0 2.8vw 1.8vw 2.8vw;
}

.border-left {
	border-left: 1px solid rgba(0, 0, 0, .15);
}

.border-right {
	border-right: 1px solid rgba(0, 0, 0, .15);
}

.one-two { grid-column: 1 / 2; }

.one-five { grid-column: 1 / 5; }

.two-three { grid-column: 2 / 3;}

.two-four { grid-column: 2 / 4; margin: 0 -1.8vw; }

.three-four { grid-column: 3 / 4; }

.four-five { grid-column: 4 / 5; }

.spacer-row { min-height: 2.5vw; }

.six-vertical-padding {
	padding: 6% 0%;
}

.vertical-padding-bottom {
	padding-bottom: 6%;
}

.padding-medium {
	padding-top: 1.7vw;
    padding-bottom: .3vw;
}
 /* layout styles end */



img {
	border-radius: 3px;
}

/* responsive styles */

@media screen and (min-width: 1500px) {

	h2 {
		font-size: 40px;
	}
}

@media only screen and (max-width: 1000px) {

	.grid-four-col {
		display: grid;
		grid-template-columns: 11% 33% 33% 11%;
	}

	.two-four { grid-column: 2 / 4; }

	h2 {
		font-size: 35px;
	}

	body {
	  	font-size: 18px;
	}
}

@media only screen and (max-width: 600px) {
	  body {
	  	font-size: 16px;
	}

	h2 {
		font-size: 26px;
	}

	.one-two, .two-four, .four-give {
		grid-column: 1 / 5;
	}

	.grid-four-col {
		width: 100%;
	}

	.one-two.image {
		grid-column: 1 / 3;
	}

	.four-five.image {
		grid-column: 3 / 5;
	}
}





